<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>
<div align="center">
    <h1>Blog List</h1>
    <a href="/create">Create New Blog</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Blog ID</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog : ${listBlog}">
            <td th:text="${blog.id}">Blog ID</td>
            <td th:text="${blog.title}">Title</td>
            <td th:text="${blog.content}">Content</td>
            <td>
                <a th:href="@{'/edit/' + ${blog.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${blog.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>